@model List<MoviesApplication.ViewModels.MovieModel>

@{
    ViewBag.Title = "Top250";
}

<h2>Top 250 Movies by User rating</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Rating</th>
            <th>Title</th>
            <th>Year</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var rank = i + 1;
            <tr>
                <td>@rank</td>
                <td>@Model[i].Rating</td>
                <td>@Model[i].Title</td>
                <td>@Model[i].Year</td>
                <td>@Html.ActionLink("Details", "Details", "Movies", new { id = Model[i].Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>
</table>
